@reference "../../../css/main.css";

.wrapper {
  @apply flex min-h-screen max-h-screen;
}

.aside {
  max-width: 248px;
  min-width: 248px;
  @apply sticky top-0;
  @apply border-r hidden lg:flex  flex-col max-h-screen min-h-screen bg-bg-elevated border-border-default;
}
.main {
  @apply bg-bg-surface flex-1 min-h-screen max-h-screen overflow-y-auto;
  scrollbar-width: thin;
  scrollbar-color: var(--border-strong) var(--bg-app);
}
/* 
linear-gradient(135deg, rgba(168, 51, 15, 0.08), rgba(168, 51, 15, 0.03)) */
.main::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.main::-webkit-scrollbar-track {
  background: var(--bg-app);
}

.main::-webkit-scrollbar-thumb {
  background: var(--border-strong);
  border-radius: 10px;
}

.main::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

.navbar {
  @apply h-12 w-full bg-bg-app sticky top-0 z-99 flex items-center lg:hidden px-3 border-b border-border-default;
}
.container {
  @apply px-4 py-3  lg:py-7 lg:p-8 container mx-auto;
}
