@reference "../../../../css/main.css";

.wrapper {
  @apply flex bg-bg-elevated flex-col h-screen overflow-hidden;
}

.nav {
  /* Tinggi tetap untuk nav (h-14), flex-none memastikan ukurannya tidak mengecil */
  @apply h-14  border-b border-border-default flex-none flex items-center px-5;
}

.main {
  @apply  flex-1 overflow-y-auto  text-sm;
}
.main::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

.main::-webkit-scrollbar-track {
  background: var(--bg-app);
}

.main::-webkit-scrollbar-thumb {
  background: var(--border-strong);
  border-radius: 0px;
}

.main::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

.footer {
  /* flex-none memastikan footer tidak kemakan jika isi .main terlalu panjang */
  @apply py-3 px-4 border-t flex gap-2 border-border-default flex-none text-text-secondary text-sm;
}

.avatar{
    @apply size-7 rounded-full bg-accent border;
}
.footer_user{
    @apply flex flex-col flex-1;
}
.footer_user_name{
    @apply text-[12.5px] line-clamp-1 text-text-primary font-semibold ;
}
.footer_role{
    @apply text-[11px] text-text-tertiary;
}
.logo_brand{
  @apply select-none text-lg font-bold text-accent;
}