@import "tailwindcss";
@import "./fonts.css";

:root {
  --color-red: orange;
}

@theme inline {
  --color-primary: var(--color-red);
  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-optimistic:"Optimistic";
}

body {
  @apply font-sans;

}
